body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.bg-animated {
    background-image: url('../media/Title_09_3.gif');
    background-size: cover;
    background-position: center;
    height: 100%;
    animation: backgroundMove 10s infinite alternate;
}

@keyframes backgroundMove {
    0% { background-position: center; }
    100% { background-position: top; }
}

.btn-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.glitch-text {
    font-family: 'Russo One', sans-serif;
    font-size: 48px;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    color: #fff;
    animation: glitch 1.5s infinite;
}

@keyframes glitch {
    0% {
        text-shadow: 2px 0 red, -2px 0 blue;
        transform: translate(2px, 0);
    }
    50% {
        text-shadow: -2px 0 red, 2px 0 blue;
        transform: translate(-2px, 0);
    }
    100% {
        text-shadow: 2px 0 red, -2px 0 blue;
        transform: translate(2px, 0);
    }
}

.animated-btn img {
    width: 120px;
    height: 120px;
    border: 2px solid #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.animated-btn img:hover {
    transform: scale(1.2);
}

.arrow-down {
    margin: 20px 0;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
}

/* home bage */
/* General page styling */
body, html {
    height: 100%;
    margin: 0;
   background-image: url("../media/Title_09_3.gif");
   background-size: cover;
   background-position:top;
}

/* Navbar styling */
.navbar {
    background-color: #000000; /* Dark Red */
}
.navbar-home{
    border: 2px solid #ff0000;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.navbar-brand {
    font-size: 1.7rem;
}

.navbar-nav .nav-link {
    color: #fff !important;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #ff0000 !important;
}

/* Transparent section under the navbar */

/* Make sure the background image doesn't scroll */
body {
    background-attachment: fixed;
    background-size: cover;
}
